@model Servicos.Models.OrdemServico

@{
    ViewBag.Title = "Excluir";
}

<h3>Tem certeza que deseja excluir o registro?</h3>
<div>
    <h4>Ordem de serviço</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Data
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            Valor total
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>

        <dt>
            Forma de pagamento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormaPagto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
