@model Servicos.Models.OrdemServico

@{
    ViewBag.Title = "Detalhes";
}

<div>
    <h4>Ordem de serviço</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Data
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            Valor total
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>

        <dt>
            Forma de pagamento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormaPagto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
